body {
      background-image: url('https://raw.githubusercontent.com/JaidenSupport/AUTTP/main/auttpbackground.png');
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
}

.top {
  height: 60px;
  width: 1005px;
  background-color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 10px solid grey;
  border: 3px solid #999999;
  background-color: white;
  border-radius: 5px;
}

h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: brown;
}

h2 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  color: rgb(71, 71, 71);
}

.bottoms {
  margin-bottom: 40px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  margin-bottom: 5px;
}

.main {
  display: flex;
  border: 5px solid #999999;
  border-radius: 5px;
  border-spacing: 200px;
  width: 1000px;
  height: 500px;
  background-color: #999999;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.box {
  display: inline-block;
  height: 400px;
  width: 900px;
  border: 5px solid #EEEEFF;
  background-color: #EEEEFF;
  border-radius: 5px;
  margin: 5px;
  margin-right: 0px;
}

.box2 {
  display: inline-block;
  height: 420px;
  width: 500px;
  border: 5px solid #EEEEFF;
  background-color: #EEEEFF;
  border-radius: 5px;
  margin: 5px;
  margin-left: 10px;
}

.image {
  margin: 0px;
}

.button {
  border: 2px solid grey;
  border-radius: 5px;
  height: 10px;
  width: 16px;
  background-color: white;
  margin-left: 35%;
  margin-right: 40%;
  padding: 5px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 0;
  text-decoration: none;
  color: #505050;
} /* avek0 was here */
